@import url(../fonts/fonts.css);

/* Установим глобальные правила ко всему документу */
html, body {
  margin: 0;  /* уберем края у документа */
  /* Подключим свои шрифты и замену им в случае неполадок */
  font-family: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Уберем цвет и подчеркивание у всех ссылок имеющихся на странице */
a {
  color: initial;
  text-decoration: none;
}

/* Установим переменные со значениями, который используются чаще всего */
:root{

  /* Шрифты */
  --g-ft-80: 80px;
  --g-ft-70: 70px;
  --g-ft-60: 60px;
  --g-ft-40: 40px;
  --g-ft-32: 32px;

  /* Цвета */
  --g-cr-black-0: #000;
  --g-cr-black-10: #1E1E1E;
  --g-cr-black-20: #221B1B;

  --g-cr-green-10: #EDF9F6;
  --g-cr-green-20: #7A908A;
  
  --g-cr-blue-10: #C7E0F4;
  --g-cr-blue-20: #7095B2;
  --g-cr-blue-30: #285272;
  
  --g-cr-white-10: rgba(255, 255, 255, 0.60);
  --g-cr-white-20: #fff;
}

/* Создадим собственный контейнер с полями ограничивающий содержимое документа */
.wrapper {
  min-width: 1280px;
  margin: 0 auto;
}
